{
  "presets": [["@babel/env", { "targets": { "node": "current" } }], "@babel/react"],
  "plugins": [
    "emotion",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "react-hot-loader/babel"
  ],
  "env": {
    "production": {
      "plugins": [["transform-react-remove-prop-types", { "mode": "remove", "removeImport": true }]],
      "presets": [
        ["@babel/env", { "targets": { "node": "current" }, "forceAllTransforms": true, "useBuiltIns": "usage" }],
        "@babel/react"
      ]
    }
  }
}
