{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "useBuiltIns": "usage", "corejs": "core-js@3", "modules": false }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["emotion"],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-optional-chaining",
    "react-hot-loader/babel"
  ]
}
