{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "@typescript-eslint/tslint",
    "csstyper",
    "graphql",
    "react-hooks",
    "react-hooks",
    "react",
    "unicorn"
  ],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true, "classes": true },
    "ecmaVersion": 2019,
    "sourceType": "module",
    "extraFileExtensions": [".gql", ".html"]
  },
  "env": {
    "jest": true,
    "es6": true,
    "commonjs": true,
    "browser": true
  },
  "settings": {
    "react": { "version": "detect" },
    "import/resolver": { "webpack": { "config": "webpack.production.js" } }
  },
  "rules": {
    "@typescript-eslint/camelcase": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/interface-name-prefix": 1,
    "@typescript-eslint/no-angle-bracket-type-assertion": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "@typescript-eslint/no-unused-vars": ["error", { "ignoreRestSiblings": true }],
    "@typescript-eslint/no-var-requires": 0,
    "import/extensions": ["error", { "ts": "never", "tsx": "never", "html": "always" }],
    "import/no-unresolved": "error",
    "no-console": ["warn"],
    "no-duplicate-imports": "error",
    "no-prototype-builtins": 0,
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true, "argsIgnorePattern": "^_+" }],
    "operator-linebreak": 0,
    "quotes": ["warn", "single"],
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/display-name": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx", ".js"] }],
    "react/jsx-props-no-spreading": [0],
    "react/prop-types": 0,
    "semi": ["warn", "always"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "unicorn/filename-case": [0],
    "unicorn/no-nested-ternary": 0,
    "unicorn/prevent-abbreviations": 0
  }
}
