{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "csstyper", "graphql", "react-hooks", "react", "unicorn"],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react/recommended",
    "plugin:unicorn/recommended",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": { "jsx": true, "classes": true },
    "ecmaVersion": 2019,
    "sourceType": "module",
    "extraFileExtensions": [".gql", ".html"]
  },
  "env": {
    "jest": true,
    "es6": true,
    "commonjs": true,
    "browser": true
  },
  "settings": {
    "react": { "version": "detect" },
    "import/resolver": { "webpack": { "config": "webpack.production.js" } }
  },
  "rules": {
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/interface-name-prefix": "warn",
    "@typescript-eslint/no-angle-bracket-type-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-object-literal-type-assertion": "off",
    "@typescript-eslint/no-unused-expressions": "error",
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "ignoreRestSiblings": true, "argsIgnorePattern": "^_+" }
    ],
    "@typescript-eslint/no-var-requires": "off",
    "import/extensions": ["error", { "ts": "never", "tsx": "never", "html": "always" }],
    "import/no-anonymous-default-export": "error",
    "import/no-unresolved": "error",
    "import/prefer-default-export": "off",
    "no-console": "warn",
    "no-duplicate-imports": "error",
    "no-prototype-builtins": "off",
    "no-unused-expressions": "error",
    "no-unused-vars": ["error", { "ignoreRestSiblings": true, "argsIgnorePattern": "^_+" }],
    "operator-linebreak": "off",
    "quotes": ["warn", "single"],
    "react-hooks/exhaustive-deps": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react/display-name": "off",
    "react/jsx-filename-extension": ["warn", { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "semi": ["warn", "always"],
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "unicorn/filename-case": "off",
    "unicorn/no-nested-ternary": "off",
    "unicorn/prevent-abbreviations": "off",
    "unicorn/no-null": "off"
  }
}
