{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb", "plugin:react/recommended", "plugin:prettier/recommended"],
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [0],
    "import/prefer-default-export": [1],
    "no-console": [1],
    "operator-linebreak": 0
  },
  "plugins": ["react"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  }
}
