// react/components/Info/Info.scss
.info {
  background-color: #fff;
  color: #0d2659;
  display: flex;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
  -webkit-overflow-scrolling: touch;
  overflow-y: scroll;
  width: 60vw;

  a {
    border-bottom: 1px dotted #cfe3cf;
    color: #8d4881;

    &:hover {
      color: #cfe3cf;
    }
  }
  .inner-info {
    max-width: 800px;

    .about-me {
      padding: 0 10px 30px;

      @media only screen and (max-width: 640px) {
        padding-bottom: 100px;
      }
    }

    .prof-pic {
      display: flex;
      justify-content: center;
      padding-top: 30px;

      img {
        border-radius: 100%;
        height: 100px;
        width: 100px;
      }
    }

    @media only screen and (max-width: 640px) {
      .button {
        padding: 10px;
      }
    }
  }

  @media only screen and (max-width: 640px) {
    width: 100%;
  }
}
