// react/components/Sidenav/Sidenav.scss
.sidenav {
  font-family: 'Source Sans Pro', monospace;
  width: 40vw;
  display: flex;
  justify-content: center;
  overflow-y: scroll;
  color: #fff;
  height: calc(100vh - 40px);
  -webkit-overflow-scrolling: touch;

  @media only screen and (max-width: 640px) {
    width: 100%;
    height: 120px;
    overflow: hidden
  }

  &:after, .bg-image {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    width: 40vw;
    height: 100vh;
    z-index: -1;
    pointer-events: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-color: transparent;
    @media only screen and (max-width: 640px) {
      width: 100vw;
    }
  }

  &:after {
    background-image: linear-gradient(102deg, rgba(0, 195, 216, .9) 9%, rgba(186, 39, 66, .6) 100%);
    opacity: .95;
  }

  .bg-image {
    &.image {
      animation: animateImage 2s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  h1 {
    padding: 2px;
    margin: 0;
  }


  ul {
    font-size: 1.5em;
    list-style: none;
    padding-right: 20px;
    @media only screen and (max-width: 900px) {
      font-size: 20px;
    }
    @media only screen and (max-width: 640px) {
      padding: 2px;
      margin: 0;
    }

    li {
      padding-top: 10px;
      max-width: 400px;
      overflow: hidden;
      font-family: 'Source Code Pro', monospace;
      transition: opacity .3s ease-in-out;

      @media only screen and (max-width: 640px) {
        display: inline;
        &:not(:last-child):not(:first-child):after {
          content: ' / '
        }
      }

      a {
        &:hover {
          color: #8d4881;
        }
      }
    }

    .widget {
      padding-left: 10px;
      text-align: left;
      color: #fff;
      @media only screen and (max-width: 900px) {
        display: none;
      }
    }

    .reltime {
      text-transform: uppercase;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 10px;
    }
  }
}

.descrip {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 12px;
}

.photo-descrip {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 2px 4px;
  width: calc(40vw - 8px);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  a {
    color: #fff;
  }

  @media only screen and (max-width:640px) {
    display: none
  }
}

@keyframes animateImage {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
