{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "airbnb", "plugin:react/recommended"],
  "rules": {
    "strict": 0,
    "quotes": [1, "backtick"],
    "jsx-quotes": [1, "prefer-single"],
    "comma-dangle": [2, "never"],
    "eol-last": [1, "never"],
    "no-plusplus": [0],
    "react/prefer-stateless-function": [0],
    "react/jsx-filename-extension": [0],
    "import/prefer-default-export": [1],
    "react/no-danger": [0],
    "no-console": [1],
    "semi": [1],
    "max-len": [0]
  },
  "plugins": ["react"],
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "classes": true,
      "jsx": true
    }
  },
  "globals": {
    "ENV": true
  }
}